venv/
.env
__pycache__/
.pytest_cache/
.DS_Store

# Ignore the data content folders explicitly, but allow .dvc files
data/raw/
data/processed/
models/haarcascade_frontalface_default.xml

# Ignore heavy model weights
*.pt
*.pth
*.pkl
